<!-- <div class="slider-container">
    <div class="circular-container" #circularContainer>
        <div class="image-orbit">
            <div *ngFor="let image of images; let i = index" class="orbit-image-container"
                [class.active]="i === activeIndex" [style.transform]="getImagePositionL(i)" (click)="setActive(i)">
                <img [src]="image" [alt]="'Image ' + i" class="orbit-image">
            </div>
        </div>
    </div>
</div>
 -->

<!-- Contenedor principal que alinea ambos sliders horizontalmente -->
<!-- <div class="sliders-wrapper"> -->

<!-- SLIDER IZQUIERDO -->
<!-- <div class="slider-container">
      <div class="circular-container" #circularContainerLeft>
        <div class="image-orbit">
          <div *ngFor="let image of images; let i = index"
               class="orbit-image-container"
               [class.active]="i === activeIndex"
               [style.transform]="getImagePositionL(i)"
               (click)="setActive(i)">
            <img [src]="image" [alt]="'Image ' + i" class="orbit-image">
          </div>
        </div>
      </div>
    </div> -->

<!-- SLIDER DERECHO -->
<!-- <div class="slider-container">
      <div class="circular-container" #circularContainerRight>
        <div class="image-orbit">
          <div *ngFor="let image of images; let i = index"
               class="orbit-image-container"
               [class.active]="i === activeIndexRight"
               [style.transform]="getImagePositionR(i)"
               (click)="setActiveRight(i)">
            <img [src]="image" [alt]="'Image ' + i" class="orbit-image">
          </div>
        </div>
      </div>
    </div> -->

<!-- </div> -->


<div class="slider-container">
    <!-- Slider Izquierdo -->
    <div class="circular-container" #circularContainerLeft>
        <div class="image-orbit">
            <div *ngFor="let image of images; let i = index" class="orbit-image-container"
                [class.active]="i === activeIndex" [style.transform]="getImagePositionL(i)" (click)="setActive(i)">
                <img [src]="image" [alt]="'Image ' + i" class="orbit-image">
            </div>
        </div>
    </div>

    <!-- Slider Derecho -->
    <div class="circular-container" #circularContainerRight>
        <div class="image-orbit">
            <div *ngFor="let image of imagesRight; let i = index" class="orbit-image-container"
                [class.active]="i === activeIndexRight" [style.transform]="getImagePositionR(i)"
                (click)="setActiveRight(i)">
                <img [src]="image" [alt]="'Image ' + i" class="orbit-image">
            </div>
        </div>
    </div>

</div>