.slider-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: relative;
}

.circular-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circular-container:last-child {
  margin-left: auto;
  margin-right: 0;
}

.image-orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  align-content: center;
}

.orbit-image-container {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border: 3px solid white;
  // transition: all 0.5s ease;
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
}

.orbit-image-container:hover {
  z-index: 15;
  opacity: 1;
}

.orbit-image-container.active {
  z-index: 20;
  opacity: 1;
  transition: all 0.5s ease;
  width: 120px;
  border: none;
}

.orbit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  position: absolute;
  justify-self: anchor-center;
  justify-items: center;
  h2 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    color: #0040A7;
  }
  div {
    display: inline-flex;
    gap: 4px;
    .btn-c {
      background: #00E78A;
      color: #013f20;
      font-size: 18px;
      border: none;
      border-radius: 2px;
      padding: 8px 3rem;
    }
  }
}

.description {
  position: absolute;
  bottom: 10%;
  width: 30%;
  justify-self: anchor-center;
}

.lbl-country {
  position: absolute;
  position-area: center;
  height: 80px;
  bottom: -80px;
  transform: scale(1.5);
  width: 30%;
  background: #EEEEEE;
  box-shadow: 0px 0px 26px -10px rgba(66, 68, 90, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    background: #00E78A;
    color: #013f20;
    padding: 4px 16px;
    border-radius: 2px;
  }
}


@media screen and (max-width: 768px) {
  .main-image-container {
    width: 250px;
    height: 180px;
  }

  .orbit-image-container {
    width: 90px;
    height: 90px;
  }

  .circular-border {
    width: 95%;
    height: 110%;
  }
}
