
.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.circular-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  border: 2px solid red;
  align-content: center;
}

.orbit-image-container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border: 3px solid white;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0.8;
}

.orbit-image-container:hover {
  transform: scale(1.1) !important;
  z-index: 15;
  opacity: 1;
}

.orbit-image-container.active {
  border-color: #F44336;
  opacity: 1;

}

.orbit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .main-image-container {
    width: 250px;
    height: 180px;
  }
  
  .orbit-image-container {
    width: 90px;
    height: 90px;
  }
  
  .circular-border {
    width: 95%;
    height: 110%;
  }
}


// .main-image-container {
//   position: relative;
//   width: 300px;
//   height: 220px;
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
//   border: 4px solid white;
// }

// .image-caption {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.6);
//   color: white;
//   padding: 8px;
//   font-size: 14px;
// }

// .center-content {
//   position: relative;
//   z-index: 10;
// }

// .main-image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
