<div class="slider-container">

    <!-- Slider Izquierdo -->
    <div class="circular-container" #circularContainerLeft>
        <div class="image-orbit">
            <div *ngFor="let image of images; let i = index" class="orbit-image-container"
                [class.active]="i === activeIndex" [style.transform]="getImagePositionL(i)" (click)="setActive(i)">
                <img [src]="image!.path" [alt]="'Image ' + i" class="orbit-image">
                <span class="left">{{image.description}}</span>
            </div>
        </div>
    </div>

    <div class="information">
        <h2>About me</h2>
        <div>
            <button class="btn-c" (click)="setData(1)">{{this.titles()[1]}}</button>
            <button class="btn-c" (click)="setData(2)">{{this.titles()[2]}}</button>
            <button class="btn-c" (click)="setData(3)">{{this.titles()[3]}}</button>
            <!-- <button class="btn-c" (click)="setData(4)">{{this.titles()[4]}}</button>
            <button class="btn-c" (click)="setData(5)">{{this.titles()[5]}}</button> -->
        </div>
    </div>
    <div class="lbl-country">
        <span>{{strSelected()}}</span>
    </div>
    <p class="description">
        <span>{{descripTitle()}}</span>
        {{descripText()}}
    </p>

    <!-- Slider Derecho -->
    <div class="circular-container" #circularContainerRight>
        <div class="image-orbit">
            <div *ngFor="let image of imagesRight; let i = index" class="orbit-image-container"
                [class.active]="i === activeIndexRight" [style.transform]="getImagePositionR(i)"
                (click)="setActiveRight(i)">                
                <img #orbitImage [src]="image.path" [alt]="'Image ' + i" class="orbit-image" [class.r]="i != activeIndexRight">
                <span class="right">{{image.description}}</span>
            </div>
        </div>

    </div>

</div>