/* You can add global styles to this file, and also import other style files */
:root {
    background: #F0F0F0;
}
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'PPNeueMontreal'; /* El nombre que usarás en font-family */
  src: url('assets/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
